body{
    width: 400px;
    background-color: rgb(41, 41, 41);
    margin:100px auto;
    
}
#container{
    background-color: darkolivegreen;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    font: 20px arial;
    color: aqua;

}
button{
    font: 20px arial;
    background-color: dimgray;
    color: antiquewhite;
    padding: 8px;
    border-radius: 8px;
    border-color: azure;
}
table{
    margin: 20px;
    border-radius: 10px;
    font: 12pt arial;
    color: rgb(0, 255, 255);
    background-color: gray;
}